---
title: Bedrock
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Bedrock</h1>
    <p>Tools and Infrastructure for Kubernetes Clusters</p>
    <div style="padding-top: 30px">
        <a href="https://github.com/microsoft/bedrock" class="button">GitHub Project</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10" style="padding-top: 50px !important">
    <div class="row justify-content-start">
        <div class="col-12 mb-2">
         Bedrock is a collection of tools and infrastructure definitions combined in a secure and auditable <a href="https://www.weave.works/technologies/gitops/">GitOps</a> workflow that is integrated in a <a href="https://kubernetes.io/">Kubernetes</a> Cluster. Bedrock was designed from learnings from the cloud native community and from deploying and operating applications and Kubernetes clusters.
        </div>
    </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-dark mb-4">Components</h2>
      </div>
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
 </div>

 <div class="container pt-1 pb-5 md-7 pb-md-7">
        <div class="row justify-content-start">
          <div class="col-12">
            <h2 class="title-3 text-dark mb-4">Workflow</h2>
          </div>
          {% for info in site.data.information %}
          <div class="col-12 mb-2">
            <div class="feature">
              <h2 class="feature-title">{{ info.title }}</h2>
              <div class="feature-content">{{ info.description }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
</div>

<div class="container pt-1 pb-5 md-7 pb-md-7">
    <div class="row justify-content-start">
        <div class="col-12">
        <h2 class="title-3 text-dark mb-4">Sample Workflow</h2>
        <p>
            The following example shows the workflow where an application created, a <a href="https://www.docker.com/resources/what-container">Docker container</a> is automatically created and published and a GitOps pipeline deploys the updated container image.
        </p>
        </div>
        <div class="col-12 mb-2">
        <div class="feature">
            <div class="feature-content">
                <img alt="container-fabrikate-worfkflow" src="images/workflow-example.png"/>
            </div>
        </div>
        </div>
    </div>
    </div>  